
@{
    ViewBag.Title = "Index";
}

<h1>Users</h1>

<h2>Click Here to @Html.ActionLink("Login", "Login", "Users").</h2>
<h2>Click Here to @Html.ActionLink("Register", "Register", "Users") with a new account.</h2>

